.t1body {
    margin: 1cm;
}
.t1h1{
    color: green;  
    text-align: center;
}
.t1p{
    font: italic
}
.t1a:hover{
    background-color: blue;
}
            .t2Title {
                text-align: center;
                margin-bottom: 1cm;
            }
            .t2divtable {
                display: flex;
                justify-content: center;
            }
            .t2table {
                border-collapse: collapse;
            }
            .t2table th {
                background-color: black;
                color: white;
            }
            .t2table td, .t2table th {
                border: 1px gray solid;
                padding: 10px;
            }
            .t2docs {
                text-align: center;
                margin-top: 1cm;
            }
        .task3Title {
            text-align: center;
            margin-bottom: 1cm;
        }

        img {
            margin-left: 1cm;
            height: 320px;
            width: 320px;
            border: 5px black solid;
        }
